<!--about section - bio, education, and awards sections are here-->
        <section class="section white" id="bio" role="about-section">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h3 class="header">About Me</h3>
                        <h6>Simeron Taak</h6>
                    </div>
                    <div class="col l6 m12 s12">
                        <p class="grey-text text-darken-3 lighten-3">
                            I am a knowledgeable frontend developer and web creative with design and UX experience. My strengths lie in HTML, CSS, SASS, the CSS frameworks; bootstrap, material, materi- alize, and skeleton for structuring and styling web pages. I also have experience in PHP, JavaScript, and frontend frameworks, AngularJS, Angular 2 and Vue.js to build single page applications. I have built websites using CMS platforms such as Wordpress, to build custom websites and theme templates. When working in a team we have adopted agile methodol- ogies and used tools such as jira, and trello. Some of the version control systems I have used are GitHub and Bitbucket with smartGit and source tree. As a designer I have used many of the Adobe programs for example; Photoshop, Illustrator, InDesign, and Bridge.
                        </p>
                        <ul>
                            <li><img src="images/icons/GraduationCapFilled-50.png"/li>
                            <li>Ravensbourne University | Web Media | 2:1</li>
                            <li>Nominated for an outstanding award in all aspects of design</li>
                            <li>Best Designed CV 2016</li>
                        </ul>
                    </div>
                    <div class="col l6 m12 s12">
                        <img id="profilePic" src="images/IMG_5233.jpg"/>
                    </div>
                </div>
            </div>
        </section>
        <!--end of the about section-->