<!--start of banner section at the bottom-->
<section id="banner" role="banner" class="parallax-container">
    <div class="parallax">
        <div id="headerImage">
            <h1>{Simeron Taak}</h1>
            <h4>Developer and designer</h4>
        </div>
    </div>
</section>
<!--end of banner section at the bottom-->