<!--start of banner section-->
<div id="banner">
    <div class="wrap-center">
        <div class="banner-centered" id="banner-text">
            <h2>{ Simeron Taak } Developer and designer</h2>
        </div>
    </div>
</div>
<!--end of banner and end of parallax scroll effect-->

