<!--start of contact section-->
<!--<section class="container" id="contact" role="contact">
    <div class="lightBlue top">
        <div class="row">
            <div id="canDo" role="canDO">
                <div class="col l6 m12 s12">
                    <h3>Contact Me</h3>
                        <footer role="footer">
                            <img src="images/contact/PhoneFilled-50.png"/>
                            <p>
                                07501351982
                            </p>
                            <img src="images/contact/MessageFilled-50.png"/>
                            <p>
                                simeron03@icloud.com
                            </p>
                            <img src="images/contact/search-52.png"/>
                            <p>
                                simerontaak.co.uk
                            </p>
                            <img src="images/icons/LinkedIn-52.png"/>
                            <img src="images/icons/GitHub-64.png"/>
                        </footer> 
                    </div>

                    <form class="col l6 m12 s12">
                        <div class="input-field col s12">
                            <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                            <label for="firstName">First Name</label>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                            <label for="email">Email</label>        
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                            <label for="message">Message</label>        
                        </div>

                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
</section>-->
<!--end of contact section-->

<!--<section class="container">
    <div class="row">
        <form class="col l6 m12 s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                    <label for="firstName">First Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                    <label for="email">Email</label>        
                </div>

                <div class="input-field col s12">
                    <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                    <label for="message">Message</label>        
                </div>

                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
                </div> 
            </div>
        </form>
    </div>
</section>-->

<section class="section white" id="contact" role="contact">
    <div class="lightBlue">
        <div class="row container top">
            <section id="canDo" role="contact-form">
                <div class="row">
                    <h3>Contact Me</h3>
                    <div class="l4 contactContainer">
                        <h6>Please feel free to contact me!</h6>
                        <p>Feel free to contact me, my contact details are below. </p>
                        <p>Or get in touch via social media, and check out my blog to find out more of what I’m doing.</p>
                        <div class="contactInfo" role="contact-information">
                            <div class="contactContext">
                                <img src="images/contact/PhoneFilled-50.png" />
                                <p>| 07501351982 |</p>
                            </div>
                            <div class="contactContext">
                                <img src="images/contact/MessageFilled-50.png" />
                                <p>| simeron03@icloud.com |</p>
                            </div>
                            <div class="contactContext">
                                <img src="images/contact/search-52.png" />
                                <p>| simerontaak.online |</p>
                            </div>
                        </div>
                        <div id="social">
                            <a href="https://uk.linkedin.com/in/simeron-taak-a70a809a">
                                <img src="images/icons/LinkedIn-52.png" alt="linkedin">
                            </a>
                            <a href="https://github.com/Simeron">
                                <img src="images/icons/GitHub-64.png" alt="GitHub">
                            </a>
                            <a href="https://www.instagram.com/simeron03/">
                                <img src="images/icons/InstagramFilled-50.png" alt="Instagram">
                            </a>
                            <a href="https://medium.com/@simeron03">
                                <img src="images/icons/MediumFilled-50.png" alt="Mediums">
                            </a>
                        </div>
                    </div>
                    <!--<div class="l8">
                        <p>Feel free to contact me, my contact details are below.</p>
                        <p>Or get in touch via social media, and check out my blog to find out more of what I’m doing.</p>
                    </div>-->
                    <!--<form class="col l8 s12">
                        <div class="input-field col s12">
                            <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                            <label for="firstName">First Name</label>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                            <label for="message">Message</label>
                        </div>

                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
                        </div>
                    </form>-->
                </div>
        </div>
        </section>
    </div>
    </div>
</section>