<!--start of contact section-->
<section class="section white" id="contact" role="contact">
    <div class="lightBlue">
        <div class="row container">
            <section id="canDo" role="canDO">
                <div class="col s6">
                <h3>Contact Me</h3>
                            <footer role="footer">
                                    <p>
                                        <img src="images/contact/PhoneFilled-50.png"/>
                                        07501351982
                                    </p>
                                    <p>
                                        <img src="images/contact/MessageFilled-50.png"/>
                                        simeron03@icloud.com
                                    </p>
                                    <p>
                                        <img src="images/contact/search-52.png"/>
                                        simerontaak.co.uk
                                    </p>
                                    <img src="images/icons/LinkedIn-52.png"/>
                                    <img src="images/icons/GitHub-64.png"/>
                                
                            </footer> 
                            </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                    <label for="firstName">First Name</label>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                    <label for="email">Email</label>        
                </div>

                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                    <label for="message">Message</label>        
                </div>
                <div class="row">
                   <div class="input-field col s12">
                       <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                </button>
                   </div> 
                </div>
                
            </section>
        </div>
    </div>
</section>
<!--end of contact section-->
        
            
                