<!--expereince section -->
<!--timeline test section-->

<section class="section white" id="experience" role="experience-section">
    <div class="lightBlue">
        <div class="row container">
            <section id="canDo" role="canDO">
                <section id="cd-timeline">
                    <div class="cd-timeline-block">
                        <h3>Experience</h3>
                        <div class="cd-timeline-img center-align">
                                <i class="medium material-icons">code</i>
                        </div> <!-- cd-timeline-img -->
                        
                        <div class="cd-timeline-content">
                            <h6>Sparta Global Consultant: November 2016 - current</h6>
                            <p>I am currently working as a consultant at Sparta Global. I have started training, and hope to learn lots of new things about development and coding. </p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">
                                <p>
                                    <strong>SKILLS USED:</strong> HTML . CSS . XML . GIT . JavaScript
                                </p>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img">
                            <i class="medium material-icons">business</i>
                        </div> <!-- cd-timeline-img -->
                
                        <div class="cd-timeline-content">
                            <h6>Saffron Care Homes Freelancer: May 2013 - September 2016</h6>
                            <p>Created brochures displaying the company's care homes, this was made using Photoshop and Indesign. I’ve carried out user testing and redesigned and built there company website where I had to access the back-end of the website to edited their code to fulfil the customer's needs.</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">
                                <p>
                                    <strong>SKILLS USED:</strong> InDesign . Photoshop . UX Skills . Wireframing . HTML . CSS
                                </p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img">
                            <i class="medium material-icons">business</i>
                        </div> <!-- cd-timeline-img -->
                
                        <div class="cd-timeline-content">
                            <h6>AMO CARE Freelancer: June 2012 - August 2016</h6>
                            <p>Created brochures displaying the company's care homes, this was made using Photoshop and Indesign. I’ve carried out user testing and redesigned and built there company website where I had to access the back-end of the website to edited their code to fulfil the customer's needs.</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">
                                <p>
                                    <strong>SKILLS USED:</strong> Branding . Photoshop . Illustrator . WordPress . HTML . CSS . UX Skills . Wireframing
                                </p>
                        </div>
                    </div>
                    <a href="cv2-edit(1).pdf">Download CV</a>
                </section>
            </section>
        </div>
    </div>
</section>
<!--end of experience section-->