        <footer>
            <p>
                <a href="http://simerontaak.online">Designed and made by Simeron T</a>
                <!--use to be simerontaak.co.uk-->
            </p> 
        </footer>