<head>
    <title>Simeron's CV</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vertical-timeline/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="vertical-timeline/css/style.css"> <!-- Resource style -->
    <script src="vertical-timeline/js/modernizr.js"></script> <!-- Modernizr -->

    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Glegoo|Raleway:300|Reem+Kufi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>