<nav>
    <div class="nav-wrapper" role="navigation">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a id="bioLink" href="#bio">About</a></li>
            <li><a id="skillsLink" href="#skills">Skills</a></li>
            <li><a id="whatICanDoLink" href="#whatICanDo">Services</a></li>
            <li><a id="experienceLink" href="#experience">Experience</a></li>
            <li><a id="projectLink" href="#projects">Projects</a></li>
            <li><a id="contactLink" href="#contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a id="moblieBioLink" href="#bio">About</a></li>
            <li><a id="mobileProjectsLink" href="#projects">Projects</a></li>
            <li><a id="moblieExperinceLink" href="#experience">Experience</a></li>
            <li><a id="mobileSkillsLink" href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>