<!--start of projects section-->
<section class="section white" id="projects" role="projects-section">
    <div class="row container">
        <section id="canDo" role="canDO">
            <h3>Projects</h3>
            <div class="row">
                <!--<div class="col s4">
                    <img class="imagesServices" src="images/serivceIcons/app-icon-copy.png"/>
                    <h5>Retouch Reviews</h5>
                    <img src="images/projects/retouchReviews.png"/>
                </div>-->
                <div class="col s4">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/projects/retouchReviews.png" alt="">
                        <div class="overlay">
                            <h2>Retouch Reviews</h2>
                            <p>
                                <a href="http://www.retouchreviews.co.uk/">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/projects/ibm.png" alt="">
                        <div class="overlay">
                            <h2>IBM</h2>
                            <p>
                                <a href="#">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!--<div class="col s4">
                    <img class="imagesServices" src="images/serivceIcons/coding-icon.png"/>
                    <h5>IBM</h5>
                    <img src="images/projects/ibm.png"/>
                </div>-->

                <div class="col s4">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/projects/amo.png" alt="">
                        <div class="overlay">
                            <h2>AMO Care</h2>
                            <p>
                                <a href="http://amocare.co.uk/">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!--<div class="col s4">
                    <img class="imagesServices" src="images/serivceIcons/graphics-icon.png"/>
                    <h5>AMO Care</h5>
                    <img src="images/projects/amo.png"/>
                </div>-->
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/projects/github-graph.png" alt="">
                        <div class="overlay">
                            <h2>GitHub - Graph</h2>
                            <p>
                                <a href="https://githubgraph.herokuapp.com/">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/projects/RockPaperScissors.png" alt="">
                        <div class="overlay">
                            <h2>Rock Paper Scissors Game</h2>
                            <p>
                                <a href="https://rock-paper-scissors-sparta.herokuapp.com/">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s4">
                    <div class="hovereffect">
                        <img class="img-responsive" src="images/projects/blackjack.png" alt="">
                        <div class="overlay">
                            <h2>BlackJack Game</h2>
                            <p>
                                <a href="https://blackjackwebtest.herokuapp.com/">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="files/portfolio-2.pdf">Download Portfolio</a>
    </div>
    </section>
    </div>
</section>
<!--end of prjects section-->