<!--start of projects section-->
<section class="section white" id="projects" role="projects-section">
    <div class="row container">
            <section id="canDo" role="canDO">
            <h3>Projects</h3>
            <div class="row">
                <div class="col s4">
                    <img class="imagesServices" src="images/serivceIcons/app-icon-copy.png"/>
                    <h5>Retouch Reviews</h5>
                    <img src="images/projects/retouchReviews.png"/>
                </div>

                <div class="col s4">
                    <img class="imagesServices" src="images/serivceIcons/coding-icon.png"/>
                    <h5>IBM</h5>
                    <img src="images/projects/ibm.png"/>
                </div>

                <div class="col s4">
                    <img class="imagesServices" src="images/serivceIcons/graphics-icon.png"/>
                    <h5>AMO Care</h5>
                    <img src="images/projects/amo.png"/>
                </div>
            </div>
            <a href="cv2-edit(1).pdf">Download Portfolio</a>
        </section>
    </div>
</section>
<!--end of prjects section-->