<!--what I can do section / services-->
        <section class="section white" id="whatICanDo" role="what-i-can-do-services">
                <div class="row container">
                        <section id="canDo" role="canDO">
                        <h3>What I can do</h3>
                        <div class="row">
                            <div class="col s4">
                                <img class="imagesServices" src="images/serivceIcons/coding-icon.png"/>
                                <h5>Coding</h5>
                                <p>
                                    I am proficient in HTML and CSS and have experience in Javascript and PHP. I’ve worked on websites, web apps and interactive narratives. I love to experiment with code and create new products and services. As well as working with agile methodologies. 
                                </p>
                            </div>

                            <div class="col s4">
                                <img class="imagesServices" src="images/serivceIcons/app-icon-copy.png"/>
                                <h5>Mobile first design</h5>
                                <p>
                                    I have experience with app design, learning about how applications are developed. I find it really interesting to design for applications for different services. With the increasing trends in applications being used more readily in consumers, day to day lives.
                                </p>
                            </div>

                            <div class="col s4">
                                <img class="imagesServices" src="images/serivceIcons/web-icon.png"/>
                                <h5>Web Design</h5>
                                <p>
                                    I have a passion for designing platforms which allow consumers to interact on a more personal level, to create more of an immersive experience. I’ve designed mobile first web pages following the trends of the ever-changing world we live in.
                                </p>  
                            </div>
                        </div>

                        <div class="row" id="service">
                            <div class="col s4">
                                <img class="imagesServices" src="images/serivceIcons/graphics-icon.png"/>
                                <h5>Graphic Design</h5>
                                <p>
                                    I originally started in graphic design and have a continued Interest in that area, and keep up with the ever-changing trends. I have an eye for design and experience designing a range of different digital and printed products for clients.
                                </p>
                            </div>

                            <div class="col s4">
                                <img class="imagesServices" src="images/serivceIcons/ux-icon.png"/> 
                                <h5>User experience UX and Wireframing</h5>
                                <p>
                                    In this ever changing world consumers reply more online than ever before, making users experience all the more important. This part of design is all about how to get consumers to interact and engage with a product. I have worked on many projects involving UX design.
                                </p>
                            </div>

                            <div class="col s4">
                                <img class="imagesServices" src="images/serivceIcons/sm-icon.png"/>
                                <h5>Social Media Mangagment</h5>
                                <p>
                                    I’ve experienced managing and moderating communities for different target markets as well as conducting and overseeing social campaigns and to increase engagement and presence of a brand/company. – Alexis Smith
                                </p> 
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <!--end of what I can do section / services-->