<!DOCTYPE html>
<html>
    <!--header use to be here-->
    <% include ./sections/header %>
    <body>
        <!--nav use to be here-->
        <% include ./sections/nav %>
        

        <!--banner section use to be here-->
        <% include ./sections/bannerTop %>

        <!--about section use to be here-->
        <% include ./sections/about %>

        <!--skills section use to be here-->
        <% include ./sections/skills %>


        <!--what I can do / services section use to be here-->
        <% include ./sections/services %>

        <!--experience section use to be here-->
        <% include ./sections/experience %>

        <!--projects section use to be here  -->
        <% include ./sections/projects %>

         <!--contact section use to be here-->
         <% include ./sections/contact %>

         <!--banner section use to be here at the bottom-->
        <% include ./sections/bannerBottom %>
                

        <!--contact section use to be here-->
       

        <!--back to top -->
        <a href="#0" class="cd-top">Top</a>
        <!--end of back to top-->

        <!--footer use to be here-->
        <% include ./sections/footer %>


        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>

        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.js"></script>
        <script type="text/javascript" src="js/main.js"></script> <!-- Resource jQuery -->
        <script src="js/mainScroll.js"></script> <!-- Gem jQuery -->
        <script type="text/javascript" src="js/js.js"></script>
    </body>
</html>